Flask==2.3.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Werkzeug==2.3.7
jinja2==3.1.2
pandas==2.2.3
bleach==6.2.0
transformers==4.51.3
Flask-Caching==2.3.1
Flask-Compress==1.17
sentence-transformers==4.1.0
faiss-cpu==1.11.0
numpy==2.2.5
sqlalchemy[asyncio]==2.0.40
gunicorn==23.0.0
scipy==1.15.3
python-dotenv==1.1.0
psycopg2-binary==2.9.10
Flask-Migrate==4.0.5
psql==16.8